{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form id="form" action="/form" method="post">

        <input class="form-control" type="text" name="name" placeholder="Your full name" /><br>
        <br>
        <h4>Your Gender</h4>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" value="male"> Male<br>
            <input class="form-check-input" type="radio" name="gender" value="female"> Female<br>
            <input class="form-check-input" type="radio" name="gender" value="other"> Other<br>
        </div>
        <br>
        <input class="form-control" type="number" name="age" placeholder="Your age" /><br>
        Your school year:
        <select class="form-control" name="school_year">
            <option value="" selected disabled>[please select]</option>
            <option value="First">First</option>
            <option value="Second">Second</option>
            <option value="Third">Third</option>
            <option value="Fourth">Fourth</option>
            <option value="Fifth">Fifth</option>
        </select>
        <br>
        <br>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

    <script>
        $(document).ready(function(){
            console.log("ready");
            $("#form").submit(function(){
                // Validate text and number input
                var genderChecked = false;
                $("input").each(function(i, el){
                    el = $(el);
                    if (el.val().trim() == "")
                    {
                        alert(el.attr("placeholder") + " is required!");
                        return false;
                    }
                    // Validate radio input
                    if (el.is(':checked'))
                        genderChecked = true;
                });
                // Validate gender
                if (!genderChecked) {
                    alert("You must select a gender!");
                    return false;
                }
                // Validate school year
                if ($("select").first().val() == "")
                {
                    alert("Your school year is required!");
                    return false;
                }
            });
        });
    </script>

{% endblock %}
