{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form class="form" action="/compare" enctype="multipart/form-data" method="post">
            <input type="file" name="file1">
            <input type="file" name="file2">
            <select name="algorithm">
                <option value="lines" selected>Lines</option>
                <option value="sentences">Sentences</option>
                <option value="substrings">Substrings</option>
            </select>
            <input type="number" name="length" value="0" placeholder="Length (if algo is 'Length')">
            <input type="submit" value="Compare">
        </form>
    </div>

{% endblock %}
